<h2 class="main-color">Konwerter walut</h2>
<form class="display-form" [formGroup]="modelForm" (ngSubmit)="onSubmit(modelForm)">
  <label for="amount">Wartość: </label>
  <input id="amount" class="form-control shadow" name="amount" type="text" placeholder="Wprowadź wartość" formControlName="amount">
  <span *ngIf="formErrors.amount" [ngClass]="'error'">{{ formErrors.amount }}</span>
  <br><br>
  <label for="initial-currency">Wyjściowa waluta:</label>
  <select id="initial-currency" class="form-control shadow" name="initialCurrency" role="listbox" formControlName="initialCurrency">
    <option value='PLN'>PLN</option>
    <option *ngFor="let currency of currencies" [value]=currency.code>{{currency.code}}</option>
  </select>
  <!-- <span *ngIf="modelForm.get('initialCurrency').invalid && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass]="'error'">Currency required</span> -->
  <span *ngIf="formErrors.initialCurrency" [ngClass]="'error'">{{ formErrors.initialCurrency }}</span>
  <br><br>
  <label for="result=currency">Docelowa waluta:</label>
  <select id="result-currency" class="form-control shadow" name="resultCurrency" formControlName="resultCurrency">
    <option value='PLN'>PLN</option>
    <option *ngFor="let currency of currencies" [value]=currency.code>{{currency.code}}</option>
  </select>
  <span *ngIf="formErrors.resultCurrency" [ngClass]="'error'">{{ formErrors.resultCurrency }}</span>
  <br><br>
  <button class="form-btn" type="submit">Przelicz</button>
</form>
<br>
<div class="result-panel" *ngIf="resultAmount != null && isValidFormSubmitted">
  <h2 class="main-color">{{resultAmount}}<span>{{resultCurrencyCode}}</span></h2>
</div>
